:host ::ng-deep .p-password input {
    width: 100%;
    padding:1rem;
}

:host ::ng-deep .pi-eye{
    transform: scale(1.6);
    margin-right: 1rem;
    color: #fcb322 !important; 
}

:host ::ng-deep .pi-eye-slash{
    transform: scale(1.6);
    margin-right: 1rem;
    color: #a14997 !important;
}
